<?xml version="1.0"?>
<model>
    <name>Moria</name>
    <version>2.0</version>
    <sdf version="1.5">model.sdf</sdf>

    <author>
        <name>Kemal Temel</name>
        <email>kemaltml@outlook.com</email>
    </author>

    <description>
        Moria files for gazebo simulation
    </description>
</model>